:root {
  /* Dark theme (default) */
  --color-bg: #0b132b;
  --color-bg-rgb: 11, 19, 43;        
  --color-text: #FFFFFF;       /* Crisp white text for optimal readability */
  --color-primary: #1A1A1A;    /* Slightly lighter black for primary components */
  --color-secondary: #4D4D4D;  /* Dark grey for secondary elements and UI layers */
  --color-accent: #e4f4f4;     /* Light grey accent for highlights and interactive elements */
  --color-border: #333333;     /* Subtle grey borders for defined separation */
  --color-contrast: #6fffdd;   /* Vibrant blue for high-contrast accents and CTAs */
  --color-another: #3a506b;
  
  /* Typography */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-main: "Francois One", sans-serif;
}

/* Light theme */
.light-theme {
  --color-bg: #ffffff;
  --color-bg-rgb: 247, 247, 247;
  --color-text: #0b132b;
  --color-primary: #e4f4f4;
  --color-secondary: #53739a;
  --color-accent: #0b132b;
  --color-border: #ffcf48;
  --color-contrast: #00008B;
  --color-another: #5bc0be;
}

/* Dark theme explicitly defined for clarity */
.dark-theme {
  --color-bg: #0b132b;
  --color-bg-rgb: 11, 19, 43;        
  --color-text: #FFFFFF;
  --color-primary: #1A1A1A;
  --color-secondary: #4D4D4D;
  --color-accent: #e2e8f0;
  --color-border: #333333;
  --color-contrast: #6fffdd;
  --color-another: #1c2541; /* Darker blue for dark mode */
}
